option_settings:
  aws:elbv2:listener:80:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:28081:
    DefaultProcess: websocket
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    SSLCertificateArns: arn:aws:acm:eu-west-3:313471881687:certificate/60e201e6-ad51-4f53-b6ca-aca225f5e640
    SSLPolicy: ELBSecurityPolicy-2016-08
    Protocol: HTTPS
  aws:elbv2:listener:28080:
    DefaultProcess: websocket
    ListenerEnabled: 'true'
    SSLCertificateArns: arn:aws:acm:eu-west-3:313471881687:certificate/60e201e6-ad51-4f53-b6ca-aca225f5e640
    SSLPolicy: ELBSecurityPolicy-2016-08
    Protocol: HTTPS
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
    HealthCheckPath: '/apipie'
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '28080'
    Protocol: HTTP
    HealthCheckPath: '/health-check'
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '86400'